# General
python-dotenv
tenacity
pika
openai

# Node integrations
python-youtube
wolframalpha
requests
giphy_client
feedparser
pexels-api

# Voice to text
numpy
faster-whisper>=0.10.0
ctranslate2
tqdm
sounddevice